<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% load static %}


<canvas id="skill-comparing-chart"></canvas>
<div class="criterea-buttons-div">
</div>
<script>
    const doc = new DOMParser().parseFromString("{{ jsondata }}", "text/html");
    const data_to_parse = doc.documentElement.textContent
    const parsed_jsondata = JSON.parse(data_to_parse)
    const critereaArray = Object.keys(parsed_jsondata[1]['criterea_specific_player_info'])
    console.log(critereaArray)
    for (let i in critereaArray) {
        console.log(critereaArray[i])
        var critereaInput = document.createElement('input');
        critereaInput.type = "button"
        critereaInput.value = critereaArray[i]
        critereaInput.className = "criterea-button"
        critereaInput.addEventListener('click', function () {
            critereaSelector(critereaArray[i]);
        });
        document.body.appendChild(critereaInput);
    }
</script>
<script>
    function critereaSelector(criterea) {
        const doc = new DOMParser().parseFromString("{{ jsondata }}", "text/html");
        const data_to_parse = doc.documentElement.textContent
        const parsed_jsondata = JSON.parse(data_to_parse)
        console.log(parsed_jsondata)
        for (let i in parsed_jsondata) {
            console.log(typeof i)
            skillComparingChart.data.labels[i-1] = parsed_jsondata[i]['general_player_info']?.['Naam']
            skillComparingChart.data.datasets[0].data[i-1] = parsed_jsondata[i]['criterea_specific_player_info'][criterea]
            if (i === "6") {
                console.log(parsed_jsondata[i]['criterea_specific_player_info'][criterea])
                skillComparingChart.data.labels[i-1] = 'Average'
                skillComparingChart.data.datasets[0].data[i-1] = parsed_jsondata[i]['criterea_specific_player_info'][criterea]
            }
        }
        skillComparingChart.options.plugins.title.text = criterea
        skillComparingChart.update()
    }
</script>

<canvas id="myChart2"></canvas>


<script>
    //pinpointing chart (click needs to understand canvas tag)
    const skillComparingChartCtx = document.getElementById('skill-comparing-chart');
    //render
    var skillComparingChart = new Chart(skillComparingChartCtx, {
        type: 'bar',
        data: {
            labels: ['asdf','asdf','asdf','asdf','asdf', 'asdf' ],
            datasets: [{
                label: 'Value of Criterium',
                data: [19, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            plugins: {
                title: {
                    display: true,
                    text: 'Criterium'
                },
                tooltip: {
                    // Tooltip will only receive click events
                    events: ['click']
                }
            }
        }
    });

    function clickHandler(click) {
        const points = TestChart.getElementsAtEventForMode(click, 'nearest', {intersect: true}, true)
        if (points.length) {
            const firstPoint = points[0];
            console.log(TestChart.data.labels[firstPoint.index])
            console.log(TestChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index])
            console.log(TestChart2.data.labels[0])
            TestChart2.data.labels[1] = TestChart.data.labels[firstPoint.index];
            TestChart2.update()


        }
    }

    ctx.onclick = clickHandler
</script>


<script>
    //pinpointing chart (click needs to understand canvas tag
    const ctx2 = document.getElementById('myChart2');

    //render
    var TestChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple'],
            datasets: [{
                label: 'GRAFIEK 2',
                data: [5, 3, 17, 14, 2],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            plugins: {
                tooltip: {
                    // Tooltip will only receive click events
                    events: ['click']
                }
            }
        }
    });
</script>