<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% load static %}

<div style="max-width: 50%;">
    <canvas id="myChart"></canvas>
</div>

<div style="max-width: 50%;">
    <canvas id="myChart2"></canvas>
</div>


<script>
    //pinpointing chart (click needs to understand canvas tag)
    const ctx = document.getElementById('myChart');
    //render
    var TestChart = new Chart(ctx, {
        type: 'bar',
        data: {
            {#labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple'],#}
            labels: ['{{ playerdata.0 }}', '{{ playerdata.1 }}', '{{ playerdata.2 }}', '{{ playerdata.3 }}', '{{ playerdata.4 }}'],
            datasets: [{
                label: '# of Votes',
                data: [19, 19, 3, 5, 2],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            plugins: {
                tooltip: {
                    // Tooltip will only receive click events
                    events: ['click']
                }
            }
        }
    });
    function clickHandler(click){
        const points = TestChart.getElementsAtEventForMode(click, 'nearest', { intersect: true }, true)
        if (points.length) {
            const firstPoint = points[0];
            console.log(TestChart.data.labels[firstPoint.index])
            console.log(TestChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index])
            console.log(TestChart2.data.labels[0])
            TestChart2.data.labels[1] = TestChart.data.labels[firstPoint.index];
            TestChart2.update()


        }
    }
    ctx.onclick = clickHandler
</script>


<script>
    //pinpointing chart (click needs to understand canvas tag
    const ctx2 = document.getElementById('myChart2');

    //render
    var TestChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple'],
            datasets: [{
                label: 'GRAFIEK 2',
                data: [5, 3, 17, 14, 2],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            plugins: {
                tooltip: {
                    // Tooltip will only receive click events
                    events: ['click']
                }
            }
        }
    });
</script>