{% load static %}

<div class="plot-1-div">
    <canvas id="skill-comparing-chart"></canvas>
</div>
<div class="plot-2-div">
    <canvas id="RadarSkillChart" style="width: 5000px"></canvas>
</div>
<div class="criterea-selection-div">
    <p class="player-text">Select criterea:</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    {#generates the buttons with criterea#}
    const doc = new DOMParser().parseFromString("{{ jsondata }}", "text/html");
    const data_to_parse = doc.documentElement.textContent
    const parsed_jsondata = JSON.parse(data_to_parse)
    const critereaArray = Object.keys(parsed_jsondata[1]['criterea_specific_player_info'])
    for (let i in critereaArray) {
        var critereaInput = document.createElement('input');
        critereaInput.type = "button"
        critereaInput.value = critereaArray[i]
        critereaInput.className = "criterea-button"
        const styleText = 'top:' + (40 + (35 * i)) + 'px'
        critereaInput.style.cssText = styleText;
        critereaInput.addEventListener('click', function () {
            critereaSelector(critereaArray[i]);
        });
        document.body.appendChild(critereaInput);
    }
</script>
<script>
    {#updates the first chart on critereabutton click#}
    function critereaSelector(criterea) {
        const doc = new DOMParser().parseFromString("{{ jsondata }}", "text/html");
        const data_to_parse = doc.documentElement.textContent
        const parsed_jsondata = JSON.parse(data_to_parse)
        console.log(parsed_jsondata)
        for (let i in parsed_jsondata) {
            console.log(typeof i)
            skillComparingChart.data.labels[i - 1] = parsed_jsondata[i]['general_player_info']?.['Naam']
            skillComparingChart.data.datasets[0].data[i - 1] = parsed_jsondata[i]['criterea_specific_player_info'][criterea]
            if (i === "6") {
                console.log("Average")
                console.log(parsed_jsondata[i])
                console.log(parsed_jsondata[i]['criterea_specific_player_info'])
                console.log(parsed_jsondata[i]['criterea_specific_player_info'][criterea])
                skillComparingChart.data.labels[i - 1] = 'Average'
                skillComparingChart.data.datasets[0].data[i - 1] = parsed_jsondata[i]['criterea_specific_player_info'][criterea]
            }
        }
        skillComparingChart.options.plugins.title.text = criterea
        skillComparingChart.update()
    }
</script>


<script>
    {#the first chart#}
    const skillComparingChartCtx = document.getElementById('skill-comparing-chart');
    //render
    var skillComparingChart = new Chart(skillComparingChartCtx, {
        type: 'bar',
        data: {
            labels: ['Select Criterium'],
            datasets: [{
                label: 'Value of Criterium',
                data: [0],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            plugins: {
                title: {
                    display: true,
                    text: 'Criterium'
                },
                tooltip: {
                    // Tooltip will only receive click events
                    events: ['click']
                }
            }
        }
    });

    function clickHandler(click) {
        {#handles clicks in the first chart#}
        const doc = new DOMParser().parseFromString("{{ jsondata }}", "text/html");
        const data_to_parse = doc.documentElement.textContent
        const parsed_jsondata = JSON.parse(data_to_parse)
        const points = skillComparingChart.getElementsAtEventForMode(click, 'nearest', {intersect: true}, true)
        if (points.length) {
            const firstPoint = points[0];
            const player_name = skillComparingChart.data.labels[firstPoint.index]
            for (let i in parsed_jsondata) {
                if (player_name === parsed_jsondata[i]['general_player_info']?.['Naam']) {
                    console.log(parsed_jsondata[i]['criterea_specific_player_info'])
                    console.log(Object.keys(parsed_jsondata[i]['criterea_specific_player_info']))
                    console.log('ASDFASDF')
                    console.log(Object.values(parsed_jsondata[i]['criterea_specific_player_info']))
                    document.getElementById("player-img").src = parsed_jsondata[i]['general_player_info']['foto_url'];
                    RadarSkillChart.data.labels = Object.keys(parsed_jsondata[i]['criterea_specific_player_info']);
                    RadarSkillChart.data.datasets[0].data = Object.values(parsed_jsondata[i]['criterea_specific_player_info'])
                    RadarSkillChart.update()
                }
            }

        }
    }
    skillComparingChartCtx.onclick = clickHandler
</script>


<script>
    //pinpointing chart (click needs to understand canvas tag
    const RadarSkillChartctx = document.getElementById('RadarSkillChart');
    //render
    var RadarSkillChart = new Chart(RadarSkillChartctx, {
        type: 'radar',
        data: {
            labels: ['Select Player'],
            datasets: [{
                label: 'GRAFIEK 2',
                data: [0, 0, 0, 0, 0],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
                r: {
                    ticks: {
                        color: 'blue',
                        beginAtZero: true,
                        stepSize: 1
                    },
                    pointLabels: {
                        fontSize: 100,
                        rotation: 50,
                        color: 'blue'
                    }
                }
            },
            events: ['mousemove', 'mouseout', 'click', 'touchstart', 'touchmove'],
            plugins: {
                tooltip: {
                    // Tooltip will only receive click events
                    events: ['click']
                },
                legend: {
                    display: false,
                }
            }
        }
    });

</script>