<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'scoutingtool/login-stylesheet.css' %}"/>
    <title>Login page</title>
</head>
<body>

<div class="page">
    <div class="container">
        <div class="left">
            <div class="login">Login</div>
            <div class="eula">Welcome to the World Cup Scouting Tool! Log in with your provided username and password
            </div>
        </div>
        <div class="right">
            <div class="form">
                <form class="login-form" role="form" method="POST" action="scoutingtool">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button-4" role="button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>