<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="{% static 'scoutingtool/login-stylesheet.css' %}"/>
    <title>Login page</title>
</head>
<body>
<h1>login</h1>
<form class="login-form" role="form" method="POST" action="scoutingtool">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
</body>
</html>