<!DOCTYPE html>
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'scoutingtool/resultpage_stylesheet.css' %}"/>
    <title>Results</title>
</head>
<body>
<div class="grid-container">
    <div class="player-buttons-div">
        {% for player in playerdata.items %}
            <div class="player-button">
                <script>
                    {#To display buttons of players, no button for average#}
                    if ("{{ player.0 }}" !== '6') {
                        var inputElement = document.createElement('input');
                        inputElement.type = "button"
                        inputElement.value = "{{ player.1.general_player_info.Naam }}"
                        inputElement.className = "player-button"
                        if ("{{ player.0 }}" === '1' || "{{ player.0 }}" === '2' || "{{ player.0 }}" === '3') {
                            const cssTextinput = 'background-color:orange;left:' + (-130 + {{ player.0 }} * 130) + 'px;width:130px;height:50px;'
                            inputElement.style.cssText = cssTextinput
                        }
                        if ("{{ player.0 }}" === '4' || "{{ player.0 }}" === '5' || "{{ player.0 }}" === '6') {
                            const cssTextinput = 'top:50px;background-color:orange;left:' + (-520 + {{ player.0 }} * 130) + 'px;width:130px;height:50px;'
                            inputElement.style.cssText = cssTextinput
                        }
                        inputElement.addEventListener('click', function () {
                            playerSelector({{ player.0 }});
                        });
                        document.body.appendChild(inputElement);
                    }
                </script>
            </div>
        {% endfor %}
    </div>
    <div class="left-grid">
        <div class="player-info-div">
            {% include 'player_info_div.html' %}
        </div>
        <br><br>
        <div class="transfer-value-chart-div">
            {% include 'transfervaluechart.html' %}
        </div>
    </div>
    <div class="right-grid">
        {#        <div id="interactive-plots-div">#}
        {% include 'interactiveplots.html' %}
        {#        </div>#}
    </div>
</div>
</body>
</html>