
.player-name {
}

.player-name-div {
    float: left;
    display: inline-block;
    margin-right: 15px;
}

#player-info-div {
    background-color: lightgray;
    max-width: 20%;
}

#interactive-plots-div {
    /*float: left;*/
    /*display: inline-block;*/
}

.player-info-key-value-div {
    display: block;
    margin-bottom: 4px;
}

.player-info-key {
    float: left;
    margin-right: 3px;
}

.player-info-value {
    display: inline-block;
}